.main_block {
  align-items: center;
  background: #5f9ea0;
  color: #010101;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}
.allContacts {
  margin-bottom: 10px;
}

.titleContacts {
  margin-top: 70px;
}
